<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width">
    <title>DC/OS Component Status Page</title>
    <script src="../dll/react.dll.js"></script>
    <script src="../dll/reactContrib.dll.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald:600|Source+Sans+Pro" rel="stylesheet">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
